button, a {
    width: 100%;
    border: none;
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    // margin: 4px 2px;
    cursor: pointer;
}

.button1 {font-size: 12px;}
.button2 {font-size: 14px;}
.button3 {font-size: 15px;}
.button4 {font-size: 20px;}
.button5 {font-size: 24px;}

.red {background-color: red;}
.green {background-color: green;}
.blue {background-color: blue;}
.orange {background-color: orange;}
.grey {background-color: grey;}
.darkgrey {background-color: darkgray}

