.main-content {
    background: white;
    padding-bottom: 10px;
    .display-files {
        padding-left: 3px;
        margin: 10px 10px 10px 10px;
        color: white;
        border-left: 5px solid orange;
        box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        a {
            color: black;
            width: 80px;
            border: 1px solid black;
            background: grey;
            margin-top: 5px;
            margin-bottom: 2px;
            font-size: 10px;
        }
        #fileInfoDescription {
            color: grey;
            font-size: 12px;
            margin-top: 3px;
        }
        #fileInfoTitle {
            color: black;
            font-weight: bold;
        }
        #fileInfoUsername {
            color: brown;
            font-size: 10px;
            margin-top: 3px;
        }
    }
}

.main-content-home {
    background: white;
    p {
        padding: 20px 30px 0 30px;
        word-wrap: break-word;
        color: black;
        // text-indent: 10px;
        text-align: justify;
        text-justify: inter-word;
    }
    ul {
        padding: 20px 10px 10px 30px
    }
        li {
            list-style-type: square;
            text-align: left;
            text-justify: inter-word;
            // text-indent: none;
            padding: 10px 0 3px 0;
        }
}

.upload-form {
    input {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }
    button {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }
}