#app {
    margin: 50px auto;
    max-width: 1200px;
    width: 90%;
    padding: 15px 27px 15px 27px;
    background: lighten(grey, 10%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

html {
    background-image: url('../../images/background.jpg')
}
}
//     background: rgb(149,149,149); /* Old browsers */
// background: -moz-linear-gradient(-45deg, rgba(149,149,149,1) 0%, rgba(13,13,13,1) 41%, rgba(1,1,1,1) 47%, rgba(10,10,10,1) 54%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(-45deg, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 41%,rgba(1,1,1,1) 47%,rgba(10,10,10,1) 54%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(135deg, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 41%,rgba(1,1,1,1) 47%,rgba(10,10,10,1) 54%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
// }
